<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../common/links.ejs')  %>
</head>
<body>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 mx-auto mt-5">
          
          <table class="table table-success table-striped" id="customer-data-list">
            <thead>
              <th>Customer Name</th>
              <th>Phone</th>
              <th>City</th>
            </thead>
            <tbody></tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
  <%- include('../common/scripts.ejs')  %>
  <script src="javascripts/index.js"></script>
</body>
</html>